

body {
font-size: 18px;
background-color:#407F7F;
margin:1px 5px;
}

@media screen and (max-width: 480px) {
    body {
        text-align:center;
    }
}



.cv{
background-color:white;
width: 98%;
height: 98%;
box-shadow: 1px 2px white;
border: 2px solid black;
}
.cv-back{
background-color:black;

}


h2{
border:1px solid blue;
  cursor:pointer;
  box-shadow: 1px 1px black;
}
